doctype html
<html class="current-page-0">
meta(charset='UTF-8')

title

link(rel="stylesheet",href="styles.css")
script(src="jquery.min.js")
script(src="velocity.min.js")
script(src="scripts.js")

<!--[if lte IE 8]>
<script>/* HTML5 Placeholder jQuery Plugin - v2.3.1* Copyright (c)2015 Mathias Bynens* 2015-12-16*/!function(a){"function"==typeof define&&define.amd?define(["jquery"],a):a("object"==typeof module&&module.exports?require("jquery"):jQuery)}(function(a){function b(b){var c={},d=/^jQuery\d+$/;return a.each(b.attributes,function(a,b){b.specified&&!d.test(b.name)&&(c[b.name]=b.value)}),c}function c(b,c){var d=this,f=a(this);if(d.value===f.attr(h?"placeholder-x":"placeholder")&&f.hasClass(n.customClass))if(d.value="",f.removeClass(n.customClass),f.data("placeholder-password")){if(f=f.hide().nextAll('input[type="password"]:first').show().attr("id",f.removeAttr("id").data("placeholder-id")),b===!0)return f[0].value=c,c;f.focus()}else d==e()&&d.select()}function d(d){var e,f=this,g=a(this),i=f.id;if(!d||"blur"!==d.type||!g.hasClass(n.customClass))if(""===f.value){if("password"===f.type){if(!g.data("placeholder-textinput")){try{e=g.clone().prop({type:"text"})}catch(j){e=a("<input>").attr(a.extend(b(this),{type:"text"}))}e.removeAttr("name").data({"placeholder-enabled":!0,"placeholder-password":g,"placeholder-id":i}).bind("focus.placeholder",c),g.data({"placeholder-textinput":e,"placeholder-id":i}).before(e)}f.value="",g=g.removeAttr("id").hide().prevAll('input[type="text"]:first').attr("id",g.data("placeholder-id")).show()}else{var k=g.data("placeholder-password");k&&(k[0].value="",g.attr("id",g.data("placeholder-id")).show().nextAll('input[type="password"]:last').hide().removeAttr("id"))}g.addClass(n.customClass),g[0].value=g.attr(h?"placeholder-x":"placeholder")}else g.removeClass(n.customClass)}function e(){try{return document.activeElement}catch(a){}}var f,g,h=!1,i="[object OperaMini]"===Object.prototype.toString.call(window.operamini),j="placeholder"in document.createElement("input")&&!i&&!h,k="placeholder"in document.createElement("textarea")&&!i&&!h,l=a.valHooks,m=a.propHooks,n={};j&&k?(g=a.fn.placeholder=function(){return this},g.input=!0,g.textarea=!0):(g=a.fn.placeholder=function(b){var e={customClass:"placeholder"};return n=a.extend({},e,b),this.filter((j?"textarea":":input")+"["+(h?"placeholder-x":"placeholder")+"]").not("."+n.customClass).not(":radio, :checkbox, [type=hidden]").bind({"focus.placeholder":c,"blur.placeholder":d}).data("placeholder-enabled",!0).trigger("blur.placeholder")},g.input=j,g.textarea=k,f={get:function(b){var c=a(b),d=c.data("placeholder-password");return d?d[0].value:c.data("placeholder-enabled")&&c.hasClass(n.customClass)?"":b.value},set:function(b,f){var g,h,i=a(b);return""!==f&&(g=i.data("placeholder-textinput"),h=i.data("placeholder-password"),g?(c.call(g[0],!0,f)||(b.value=f),g[0].value=f):h&&(c.call(b,!0,f)||(h[0].value=f),b.value=f)),i.data("placeholder-enabled")?(""===f?(b.value=f,b!=e()&&d.call(b)):(i.hasClass(n.customClass)&&c.call(b),b.value=f),i):(b.value=f,i)}},j||(l.input=f,m.value=f),k||(l.textarea=f,m.value=f),a(function(){a(document).delegate("form","submit.placeholder",function(){var b=a("."+n.customClass,this).each(function(){c.call(this,!0,"")});setTimeout(function(){b.each(d)},10)})}),a(window).bind("beforeunload.placeholder",function(){var b=!0;try{"javascript:void(0)"===document.activeElement.toString()&&(b=!1)}catch(c){}b&&a("."+n.customClass).each(function(){this.value=""})}))});</script>
<body class="ie8">
<![endif]-->


.slider
	.page.page0
		.side-image
			img(src="home-main-image.jpg", alt="")
		.main-text
			h2 Bienvenue dans l’expérience ECHO remises!
			h3 La Banque Nationale est fière de présenter la carte ECHO remises MasterCard, une nouvelle carte de crédit disponible dès le mois d’avril, s’adressant à une clientèle qui désire maximiser ses remises en argent.
			p Découvrez les avantages de la carte en primeur grâce à cette expérience unique en 3D, qui vous fera découvrir les différentes dimensions du produit.
			p En parcourant l’univers ECHO remises, cliquez sur les articles pour effectuer des achats et ainsi accumuler des remises en argent. La Banque Nationale offrira le montant total des remises accumulées par les participants au Club des petits déjeuners, alors enfilez vos lunettes et profitez d’une séance de magasinage virtuelle!
			p
				.button.button-big.next Découvrez ECHO remises en 3D
			p Pas de lunettes? Pas de problème. Vous pouvez également visionner l’expérience en 2D.
			p
				.button.next Découvrez ECHO remises en 2D
	.page.page1.page-visuel
		img(src="bgp1.jpg", alt="").main-bg
		.main-caption Qu’est-ce qui se retrouvera au menu cette semaine? Obtenez 1,5 % de remise sur vos achats à l’épicerie. En effet, les nouveaux clients obtiennent 3 % de remise sur les achats d’essence, d’épicerie et achats en ligne, et ce, pendant les 3 premiers mois d’abonnement.
		.icon-dollard(style="left: 36%;margin-top: 20.3%;")#id1
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Sac de pommes :<br>
					|5,00$<br>
					strong Ristourne :<br>
					strong 0,08$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 50.7%;margin-top: 20.3%;")#id2
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Fromage parmesan :<br>
					|15,00$<br>
					strong Ristourne :<br>
					strong 0,23$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 65.4%;margin-top: 20.3%;")#id3
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Poulet BBQ :<br>
					|10,00$<br>
					strong Ristourne :<br>
					strong 0,15$<br>
				.icon-dollard-arrow
	.page.page2.page-visuel
		img(src="bgp2.jpg", alt="").main-bg
		.main-caption Cliquez sur les pompes pour faire le plein et obtenez 1,5 % de remise sur l’essence. De plus, vous pourrez profiter d’une assurance contre les dommages et le vol, et de garanties prolongées.
		.icon-dollard(style="left: 32%;margin-top: 22%;")#id4
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Plein d'essence :<br>
					|65,00$<br>
					strong Ristourne :<br>
					strong 0,98$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 46.3%;margin-top: 22%;")#id5
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Plein d'essence :<br>
					|65,00$<br>
					strong Ristourne :<br>
					strong 0,98$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 72.8%;margin-top: 22%;")#id6
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Plein d'essence :<br>
					|65,00$<br>
					strong Ristourne :<br>
					strong 0,98$<br>
				.icon-dollard-arrow
	.page.page3.page-visuel
		img(src="bgp3.jpg", alt="").main-bg
		.main-caption Adepte des achats en ligne? Recevez 1,5 % de remise sur toutes vos transactions (excepté celles liées au voyage, 1 %). Dès que vous aurez accumulé 25 $, vous pourrez encaisser vos remises grâce aux solutions bancaires Internet et Mobile de la Banque Nationale.
		.icon-dollard(style="left: 29%;margin-top: 10%;")#id7
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|DVD Blu-Ray :<br>
							|70$<br>
							strong Ristourne :<br>
							strong 1,05$
						.icon-dollard-arrow
		.icon-dollard(style="left: 42%;margin-top: 6%;")#id8
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Chandail :<br>
							|30$<br>
							strong Ristourne :<br>
							strong 0,45$
						.icon-dollard-arrow
		.icon-dollard(style="left: 55%;margin-top: 7%;")#id9
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Souliers :<br>
							|160$<br>
							strong Ristourne :<br>
							strong 2,40$
						.icon-dollard-arrow
		.icon-dollard(style="left: 50%;margin-top: 18%;")#id10
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Écouteurs :<br>
							|90$<br>
							strong Ristourne :<br>
							strong 1,35$
						.icon-dollard-arrow
		.icon-dollard(style="left: 65%;margin-top: 19%;")#id11
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Équipement de sport :<br>
							|300$<br>
							strong Ristourne :<br>
							strong 4,50$
						.icon-dollard-arrow
		.icon-dollard(style="left: 70%;margin-top: 6%;")#id12
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Écran d'ordi :<br>
							|150$<br>
							strong Ristourne :<br>
							strong 2,25 $
						.icon-dollard-arrow
		.icon-dollard(style="left: 64%;margin-top: 25.3%;")#id13
					img(src="icon-dollard.png", alt="").icon-dollard-image.invisible
					.icon-dollard-popup
						.icon-dollard-textbox
							|Café :<br>
							|4,50$<br>
							strong Ristourne :<br>
							strong 0,05 $
						.icon-dollard-arrow


	.page.page4
		.side-image
			img(src="home-main-image.jpg", alt="")
		.main-text
			h2 Bravo! Vous avez accumulé<br>
				strong.ristourne-ammount 0.00$
			h3 En confirmant vos informations ci-dessous, la Banque Nationale fera un don équivalent à la somme de votre remise au Club des petits déjeuners.
			p
				small *Total des remises accumulées, jusqu’à concurrence de 10 000 $.
			p Tout comme le frais annuel de la carte, ce don ne vous coûtera rien!
			p
				input(type="text",placeholder="Nom")
			p
				input(type="text",placeholder="Prénom")
			p
				input(type="text",placeholder="Numéro de transit")
			p
				.button.next Envoyer
	.page.page5
		.side-image
			img(src="home-main-image.jpg", alt="")
		.main-text
			h2 Votre courriel a été envoyé. Merci!
			p La carte de crédit ECHO remises MasterCard sera disponible dès le mois d’avril. Les nouveaux clients obtiendront 3 % de remise pendant 3 mois pour les dépenses sur l’essence, l’épicerie et les achats en ligne. Après 3 mois, ils pourront profiter d’une remise généreuse de 1,5 % pour tous les achats de ces catégories, et 1 % de remise illimitée sur leurs autres achats.
			p Une offre concurrentielle!
			ul
				li Offre promotionnelle de 3 mois.
				li 1,5 % de remise pour 3 catégories.
				li Encaissement de la remise dès que 25 $ sont accumulés.

			p
				small *Application de la remise au choix du client.
			p
				.button.home-link Retour à l'accueil
	.page.page6
	.page.page7
	.page.page8
	.page.page9

.header
	.header-top
		a(href="") English
	.header-bottom
		img(src="header-logo-fr.png", alt="")

.ristourne
	.ristourne-title Votre ristourne
	.ristourne-ammount 0.00 $
	.button.button-big.total-link Terminer

.footer
	a(href="") Conditions d'utilisation
	a(href="") Politique de confidentialité
	a(href="") Fichiers témoins
	a(href="") L'ABC de la sécurité
	.footer-copy
		| &copy; BANQUE NATIONALE DU CANADA. Tous droits réservés 2016.


.arrow.arrow-prev.prev
.arrow.arrow-next.next

script.
	var position=0;
	var slider=$(".slider")
	var html=$("html")
	var switchSlide=function(){
		slider.velocity({ right: position+"00%" },500)
		var i=10;
		for(;i--;){
			html.removeClass("current-page-"+i)
		}
		html.addClass("current-page-"+position)
	}
	$(".next").click(function(){
		position = Math.min(position+1,9)
		switchSlide();
	})
	$(".prev").click(function(){
		position = Math.max(position-1,0)
		switchSlide();
	})
	$(".home-link").click(function(){
		position = 0;
		switchSlide();
	})
	$(".total-link").click(function(){
		position = 4;
		switchSlide();
	})
	

	var ristournes = {
		"id1":0.08,
		"id2":0.23,
		"id3":0.15,
		"id4":0.98,
		"id5":0.98,
		"id6":0.98,
		"id7":1.05,
		"id8":0.45,
		"id9":2.40,
		"id10":1.35,
		"id11":4.50,
		"id12":2.25,
		"id13":0.05
	};

	var ristourneTotal = 0;

	$(".icon-dollard").click(function(){
		if(  !$(this).hasClass("clicked")  ){
			var id = $(this).attr("id")
			var ristourne = ristournes[id]
			
			ristourneTotal+=ristourne

			$(".ristourne-ammount").text( (ristourneTotal.toFixed(2))+" $" )

			$(this).addClass("clicked")
		}
	})



<!--[if lte IE 8]>
<script>$('input, textarea').placeholder();</script>
<![endif]-->























